header{
    background-color: aqua;
}

.logo{
    background-color: black;
}

nav{
    background-color: brown;
}

.container{
    background-color: chartreuse;
}

footer{
    background-color: cornflowerblue;
}